<div class="share">
  <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
  <% if(theme.addit.weibo) { %>
  <a class="addthis_button_sinaweibo"></a>
  <% } %>
  <% if(theme.addit.facebook) { %>
  <a class="addthis_button_facebook"></a>
  <% } %>
  <% if(theme.addit.twitter) { %>
  <a class="addthis_button_twitter"></a>
  <% } %>
  <% if(theme.addit.gplus) { %>
  <a class="addthis_button_google_plusone_share"></a>
  <% } %>
  <% if(theme.addit.pinit) { %>
  <a class="addthis_button_compact"></a>
  <a class="addthis_counter addthis_bubble_style"></a>  
  <% } %>
  </div>
  <script type="text/javascript">
    var addthis_config = {"data_track_addressbar":true};
  </script>
  <script type="text/javascript"
          src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=<%= theme.addit.publid %>">
  </script>
</div>
